FLOW2
[{"id":"9decfe08.667ee","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6e5ae4e.798cc1c","type":"inject","z":"9decfe08.667ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":130,"y":160,"wires":[["84259e7e.8e042"]]},{"id":"84259e7e.8e042","type":"function","z":"9decfe08.667ee","name":"Payload","func":"msg.headers={\n    deviceKey: \"nubUjhIJaw1M0zCy\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["6629f3ca.6cdb7c","7bf88d.15630774"]]},{"id":"6629f3ca.6cdb7c","type":"http request","z":"9decfe08.667ee","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DES62ghG/datachannels/temperature/datapoints.csv","tls":"","x":600,"y":240,"wires":[["ae289e98.9adbc","8be2c488.3bb928"]]},{"id":"ae289e98.9adbc","type":"debug","z":"9decfe08.667ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":340,"wires":[]},{"id":"8be2c488.3bb928","type":"http response","z":"9decfe08.667ee","name":"","statusCode":"","headers":{},"x":870,"y":160,"wires":[]},{"id":"7bf88d.15630774","type":"http request","z":"9decfe08.667ee","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DES62ghG/datachannels/Humidity/datapoints.csv","tls":"","x":599.6427307128906,"y":295.35596084594727,"wires":[["ae289e98.9adbc","8be2c488.3bb928"]]}]
