FLOW4
[{"id":"fa30142d.2b6f98","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"9de17f06.5ec1","type":"http in","z":"fa30142d.2b6f98","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":192.4445037841797,"y":186.2720069885254,"wires":[["363aa29a.935e9e"]]},{"id":"385d84f1.5ce8ac","type":"rpi-gpio in","z":"fa30142d.2b6f98","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":true,"x":181.1686668395996,"y":419.7499370574951,"wires":[["fa3c38ea.a920d8"]]},{"id":"fa3c38ea.a920d8","type":"function","z":"fa30142d.2b6f98","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":445.05996322631836,"y":271.7529983520508,"wires":[["3a33d7d6.052b28"]]},{"id":"363aa29a.935e9e","type":"function","z":"fa30142d.2b6f98","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":443.7841339111328,"y":186.27200508117676,"wires":[["3a33d7d6.052b28","a032b4f9.8f4ce8"]]},{"id":"3a33d7d6.052b28","type":"debug","z":"fa30142d.2b6f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":764.2255677468734,"y":344.47563153865747,"wires":[]},{"id":"a032b4f9.8f4ce8","type":"http response","z":"fa30142d.2b6f98","name":"","statusCode":"","headers":{},"x":789.7422811941814,"y":176.7032406226076,"wires":[]}]
