FLOW1
[{"id":"876823f7.cdeab","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6297cf7.032fa","type":"rpi-gpio out","z":"876823f7.cdeab","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":280,"wires":[]},{"id":"6caeb214.3f962c","type":"debug","z":"876823f7.cdeab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":200,"wires":[]},{"id":"a0dbf475.181398","type":"switch","z":"876823f7.cdeab","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["db5f962e.7a0d18"],["c5ad877c.8e0418"]]},{"id":"db5f962e.7a0d18","type":"change","z":"876823f7.cdeab","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["f6297cf7.032fa"]]},{"id":"c5ad877c.8e0418","type":"change","z":"876823f7.cdeab","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["f6297cf7.032fa"]]},{"id":"202a41f.7000fbe","type":"rpi-gpio in","z":"876823f7.cdeab","name":"BUTT","pin":"7","intype":"tri","debounce":"25","read":false,"x":137.79025261546298,"y":206.68537892319446,"wires":[["a0dbf475.181398","6caeb214.3f962c"]]}]
