FLOW5
[{"id":"88d593f.597957","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a2d422a6.5123a","type":"http in","z":"88d593f.597957","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":156.72110232202076,"y":207.96121459555988,"wires":[["1958d8f.d1de127","6148dcba.580d04"]]},{"id":"1958d8f.d1de127","type":"function","z":"88d593f.597957","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":341.71727481500346,"y":207.96121459555988,"wires":[["7426f4a3.115b2c"]]},{"id":"7426f4a3.115b2c","type":"rpi-gpio out","z":"88d593f.597957","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":595.6085739135742,"y":350.2168769836426,"wires":[]},{"id":"6148dcba.580d04","type":"function","z":"88d593f.597957","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":357.8897399902344,"y":119.92853736877441,"wires":[["ac89a5a4.92dac8","c9c9bcf5.739fb"]]},{"id":"ac89a5a4.92dac8","type":"http response","z":"88d593f.597957","name":"","statusCode":"","headers":{},"x":958.1526069641113,"y":142.89358520507812,"wires":[]},{"id":"c9c9bcf5.739fb","type":"debug","z":"88d593f.597957","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":974.7384071350098,"y":324.06226921081543,"wires":[]},{"id":"4ad7b208.e8ff7c","type":"http in","z":"88d593f.597957","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":171.82444501148237,"y":496.3000765501398,"wires":[["1be2e260.bc908e","21b26328.447d2c"]]},{"id":"1be2e260.bc908e","type":"function","z":"88d593f.597957","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":364.68231691758064,"y":496.93799438632254,"wires":[["7426f4a3.115b2c"]]},{"id":"21b26328.447d2c","type":"function","z":"88d593f.597957","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":388.50982393467683,"y":576.0398060729772,"wires":[["c9c9bcf5.739fb","ac89a5a4.92dac8"]]}]
