FLOW3
[{"id":"8f28c8cc.e9f278","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9efdfaed.2fd5f8","type":"inject","z":"8f28c8cc.e9f278","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":161,"y":120,"wires":[["6b7c3cf6.9228d4"]]},{"id":"6b7c3cf6.9228d4","type":"function","z":"8f28c8cc.e9f278","name":"Playload","func":"msg.headers={\n    deviceKey: \"nubUjhIJaw1M0zCy\"\n    };\n    \nmsg.payload= \"temperature,,25.3\";\nmsg.payload= \"Humidity,,66\";\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":167,"wires":[["da2e04c7.33e7c8"]]},{"id":"da2e04c7.33e7c8","type":"http request","z":"8f28c8cc.e9f278","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DES62ghG/datapoints.csv","tls":"","x":468,"y":228,"wires":[["c44e7631.3810c8","46ddce9e.6b7cc"]]},{"id":"c44e7631.3810c8","type":"http response","z":"8f28c8cc.e9f278","name":"","statusCode":"","headers":{},"x":693,"y":283,"wires":[]},{"id":"46ddce9e.6b7cc","type":"debug","z":"8f28c8cc.e9f278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":664,"y":396,"wires":[]}]
